*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
   background:url(/media/Hero-bg.png) no-repeat center center;
background-size: cover;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 40px; 
}
.logo{
    font-size: 50px;
    font-weight: bold;
    color: blue;
}
.sign-up{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 10px 20px ;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.sign-up:hover{
    background-color: palevioletred;
}
.ban-content h1{
 font-size: 4em;
 margin-bottom: 30px;
}
.focus-button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 10px 20px ;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.focus-button:hover{
    background-color: rgba(216, 112, 147, 0.555);
}
.banner{
background:url(/media/Hero-bg.png) no-repeat center center;
background-size: cover;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
padding: 150px;
}

.live-button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 10px 20px ;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.live-button:hover{
  background-color: palevioletred;
}
.action-image img{
    width: 500px;
    border: none;
    border-radius: 28px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.377) ;
}
.action-content h2{
    font-size: 45px;
    color: black;
    margin-bottom: 15px;
}
.action-content p{
    font-size: 35px;
    color: gray;
    margin-bottom: 25px;
}
.action-content{
    max-width: 50%;
}
.action-selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 400px;

}